@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


body{
    height: 4000px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

ul{
    display: inline-block;
    list-style: none;
}

ul li{
    text-decoration: none;
    display: inline-block;
    padding: 0px 5px;
}

a{
    color: black;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* start stayling navbar section */
.navbar {
    padding: 8px 0;
    z-index: 999;
    width: 100%;
    font-family: 'Ubuntu',sans-serif;
    background-color: #fef0e5;
}


.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .p-1 {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .p-1 a:hover{
    color: #eb7e44;
}

.navbar .logo{
    font-size: 25px;
    font-weight: 500;
}

.p-2 li{
    margin-left: 10px;
    background-color: #62d0fb;
    padding: 15px;
    border-radius: 5px;
}

.p-2 li:hover{
    opacity: 0.8;
}

.p-2 li a{
    color: #fff;
}

/* end stayling navbar section */

/* start stayling home section */
.home {
    background-color: #62d0fb;
}

.home .home-content {
    height: 561px;
}

.home .home-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home .home-text{
    font-family: 'Ubuntu',sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.home .home-text div{
    margin-bottom: 8px;
    padding: 7px 7px;
}

.home .home-text a{
    background-color: #eb7e44;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 100;
}

.home .home-text a:hover{
    opacity: 0.85;
}

.home .img-1{
    width: 400px;
    height: 400px;
}

.home .img-1 img{
    height: 100%;
    width: 100%;
}

/* end stayling home section */

/* start stayling bottom
/* start footer staylig */

footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}

footer span a{
    color: #62d0fb;
    text-decoration: none;
}

footer span a:hover{
    text-decoration: underline;
}

/* start stayling content section */

.content{
    background-color: aqua;
}

.content .content-cards{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .content-cards div{
    display: inline-block;
    width: 300px;
    height: 400px;
    background-color: burlywood;
    margin: 10px;
   
}
