@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


body{
    height: 4000px;
    font-family: arial,sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

ul{
    display: inline-block;
    list-style: none;
}

ul li{
    text-decoration: none;
    display: inline-block;
    padding: 0px 5px;
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: #fff;
}


/* start stayling navbar section*/

.bg{
    background-color: #62d0fb;
}

.navbar .d-flex .btn {
    margin: 0px 5px;
}

/* end stayling navbar section */

/* start stayling home section */
.home {
    background-color: #62d0fb;
}

.home .home-content {
    height: 680px;
}

.home .home-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home .home-text{
    font-family: 'Ubuntu',sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.home .home-text div{
    margin-bottom: 8px;
    padding: 7px 7px;
}

.home .home-text a{
    background-color: #eb7e44;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 100;
}

.home .home-text a:hover{
    opacity: 0.85;
}

.home .img-1{
    width: 400px;
    height: 400px;
}

.home .img-1 img{
    height: 100%;
    width: 100%;
} */

/* end stayling home section */

/* start stayling bottom


/* start stayling content section */

.content{
    background-color: aqua;
}

.content .content-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 700px;
    margin: auto;
    background-color: aquamarine;
    align-items: center;
}

.content .content-cards div{
    display: inline-block;
    flex-basis: 30%;
    height: 200px;
    line-height: 200px;
    text-align: center;
    background-color: burlywood;
    margin: 10px;
   
}






/* start footer staylig */

footer{
    background: #62d0fb;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}

footer span a{
    color: burlywood;
    text-decoration: none;
}

footer span a:hover{
    text-decoration: underline;
}


@media (max-width: 990px) {


    .home .home-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .content .content-cards {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 700px;
        margin: auto;
        background-color: aquamarine;
        align-items: center;
    }

    .content .content-cards div{
        display: inline-block;
        width: 90%;
        height: 200px;
        line-height: 200px;
        text-align: center;
        background-color: burlywood;
        margin: 10px;
       
    }
}


@media (max-width: 500px) {

    

    .content .content-cards {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 700px;
        margin: auto;
        background-color: aquamarine;
        align-items: center;
    }

    .content .content-cards div{
        display: inline-block;
        width: 200px;
        height: 200px;
        line-height: 200px;
        text-align: center;
        background-color: burlywood;
        margin: 10px;
       
    }
}